PORT=example
LOG_LEVEL=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example
DATABASE_HOST=example
DATABASE_PORT=example
DATABASE_NAME=example
INFRA_HUB_API_URL=example
IAM_API_URL=example
TICKET_HUB_APPLICATION_NAME=example
INFRA_HUB_API_APPLICATION_NAME=example
TICKET_HUB_API_SERVICE_CLIENT_ID=example
TICKET_HUB_API_SERVICE_CLIENT_SECRET=example